@import "tailwindcss";

/* Define theme colors */
@theme {

  --color-primary: #eb1700;
  --color-primary-dark: #d52816;
  --color-primary-foreground: #ffffff;
  --color-body-background: #fff1ee;


  --color-headline: #151c2e;
  --color-muted: #695e6e;
  --color-footer: #191919;

  --color-border: #14110f;
  --radius: 0.75rem;

}


@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }

}